* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  position: relative;
  overflow-x: hidden;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #324e63;
}

a,
a:hover {
  text-decoration: none;
}
