* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  overflow-x: hidden;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #324e63;
}

main {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 50px 20px;
  padding-top: 100px;
  display: flex;
  background-image: linear-gradient(-20deg, #ff2846 0%, #449bff 100%);
}

a,
a:hover {
  text-decoration: none;
}

div.card {
  width: 100%;
  min-height: 460px;
  box-shadow: 0 8px 60px -10px rgba(13, 28, 39, 0.6);
  margin: auto;
  background: #fff;
  border-radius: 12px;
  max-width: 700px;
  position: relative;
}

div.card-img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  position: relative;
  z-index: 4;
  box-shadow: 0 5px 50px 0 #448efc, 0 0 0 7px rgba(243, 22, 22, 0.5);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

div.card-content {
  margin-top: -35px;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 40px;
  transition: all 0.3s;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  color: #ff4444;
  margin-bottom: 15px;
}

h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
